@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.nav {

    background-color: #302e2e8a;

}

.subscribe {
    color: gray;

}

.subscribe:hover {
    color: white;

}

.logo {
    width: 15%;
}

.sectionlog {
    background-color: #302e2e8a;
    width: 50%;
    height: 90%;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 4%;
    padding: 50px;


}

.bouton {
    background-color: #1ed760;
    height: 60px;
    width: 60%;
    margin-left: 20%;
    border-radius: 5%;
}

.bouton:hover {
    background-color: #1ed760;
    height: 62px;
    width: 61%;
    border-radius: 5%;

}

.form-control {
    width: 60%;
    font-size: 25px;
    margin-left: 20%;
    background-color: gray;


}

.form-control {
    width: 60%;
    font-size: 25px;
    margin-left: 20%;
    background-color: gray;


}
.login {
    border-radius: 10%;
}
.login:hover {
    border-radius: 10%;
    background-color: #1ed760;
    color: white;
}

@media screen and (max-width: 930px) {

    .sectionlog {
        width: 90%;
        margin-left: 5%
    }
}

a {
    text-decoration: none;
    color: gray;
  }

.btn-flex {
    background-color:#302e2e8a;
    width: 290px;
    
    font-size: 22px;
    

}
.btn-flex:hover{
    background-color: #6f6c6c93;
    color: white; 

}
.test {
    width: 290px;
    height: 245px;
    background-color: #302e2e8a;
}
.inside{
    margin-top: 25px;
    border-radius: 4%;
    margin-left: 7px;
    height:200px;
    width: 95%;
    background-color: #6f6c6c93;
    
}

.btninside {
    width: 230px;
}
.btninside:hover {
    background-color: #1ed760;
    color: white !important;
    border-radius: 10%;
    
    
}

/* partie de droite index */
.secteur {
    background-color: #302e2e8a;
    margin-top: 16px;
    height: 120%;
    width: 99%;
    border-radius: 10px;
}
/* les flexs box musicales  */
.flexa {
    width: 200px;
    height: 250px;
    background-color: rgba(76, 74, 74, 0.244);
    border-radius: 3%;
    border-radius: 3%;
    animation: scaleAnimation 2s infinite alternate;
    transition: 1s;
    margin-top: 5%;
}

.flexa:hover {
    transform: scale(1.1);
    background-color: rgba(76, 74, 74, 0.867);
}

/* div à l'intérieur de flex  */
.flexy {
    width: 181px;
    height: 160px;
    background-color: black;
    border-radius: 3%;
    border-radius: 3%;
    animation: scaleAnimation 2s infinite alternate;
    transition: 1s;

}

/* couleur de spotify */
.green {
    color: #1ed760;
}



/* lecteur audio footer  */
#lecteur{
    display: none !important;
    width: 99%;
    height: 20%;
    background-color: rgba(128, 128, 128, 0.447);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%; 
}
#lecteur.visible {
    display: block !important;
    
}

/* pochette et titre dans le lecteur a gauche  */
.content {
    margin-right: 40%;
}

/* anim sur les boutons play ect du bas */

.play {
    transition: 0.2s;
}
 
.play:hover{
    transform: scale(1.1);
    
}


/* Btn play*/

.btnPlay {

    background-color: black;

}

.btnPlay button {
    height: 100px;
    width:  200px;
    background-color: black;
    text-decoration: none;
}

.teste{

    height: 100%;
    width: 100%;
    background-size: cover;
    
}



/* logo play vert au survol de flexy  */
.hiddenLogo {
    opacity: 0;
    position:relative;
    z-index: 100;
    top: 75px;
    

    /* transform: translate(-50%, -50%); */
    transition: opacity 1.3s ease;
  }

  .teste:hover .hiddenLogo {
    opacity: 1;
    transition: 2s;
    transform: scale(1.8);
  }

/* CACHER LE BOUTON PLAY OU PAUSE  */

.hiddenPLAY {

    display: none;
    
}

