@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;   
}

.nav {
    
    background-color: #302e2e8a;
    
}
.subscribe {
    color:gray;

}

.subscribe:hover{
    color: white;
    
}

.logo {
    width: 15%;
}

.sectionlog {
    background-color: #302e2e8a;
    width: 50%;
    height: 90%;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 4%;
    padding: 50px;
    

}
.bouton {
    background-color: #1ed760;
    height: 60px;
    width: 60%;
    margin-left: 20%;
    border-radius: 5%;
}
.bouton:hover {
    background-color: #1ed760;
    height: 62px;
    width: 62%;
    border-radius: 5%;
    
}

.form-control{
    width: 60%;
    font-size: 25px;
    margin-left: 20%;
    background-color: gray;
    
    
}