@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;   
}

.nav {
    
    background-color: #302e2e8a;
    
}
.subscribe {
    color:gray;
    

}

.subscribe:hover{
    color: white;
    


}


.logo {
    width: 15%;
}
